body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: #fffeaf;
    font-family: 'Poppins', sans-serif;
}

#container {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

#header {
    width: 100vw;
    height: 100vh;
    background-color: #fffeaf;
}

#profile {
    width: 100%;
    height: 300px;
    margin: auto;
    position: relative;
    top: calc(100vh - 72vh);
    text-align: center;
}

#profile-pic {
    height: 300px;
    width: 300px;
    border-radius: 300px;
}

#profile-name {
    font-size: 50px;
    font-weight: bold;
}

#profile-company,
#profile-role {
    font-size: 18px;
}

#content {
    padding-top: 1000px;
    background-color: white;
}