body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

#container {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

#header {
    width: 100vw;
    height: 100vh;
    background-image: url("profile.jpg");
    background-position: top;
    background-size: 100vw auto;
}

#name {
    width: 100vw;
    height: 50px;
    /* background-color: red; */
    position: relative;
    top: 70vh;
    display: inline-block;
    font-size: 100px;
    font-weight: bolder;
    /* font-family: 'Kanit', sans-serif; */
    font-family: 'Squada One', cursive;
}

#firstname,
#lastname {
    height: 50px;
    width: auto;
    display: flex;
}

#firstname {
    float: left;
    padding-left: 25px;
}

#lastname {
    float: right;
    padding-right: 25px;
}

#content {
    padding-top: 1000px;
    background-color: white;
}